:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
    --FontTitles: 'Big Shoulders Display', cursive;
    --FontParagraphs: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-color: var(--VeryLightGray);
    text-align: left;
    font-size: 15px;
    font-family: var(--FontParagraphs);
    color: var(--TransparentWhite);
    line-height: 1.5;
}

h2 {
    font-family: var(--FontTitles);
    text-transform: uppercase;
    font-size: 30px;
    color: var(--VeryLightGray);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 1rem;
}

.card {
    padding: 40px;
}

.text-padding {
    padding: 5px;
}

.first-column {
    background-color: var(--BrightOrange);
}

.second-column {
    background-color: var(--DarkCyan);
}

.third-column {
    background-color: var(--VeryDarkCyan);
}

a {
    text-decoration: none;
    font-size: 15px;
    font-family: var(--FontParagraphs);
    background-color: var(--VeryLightGray);
    text-align: center;
    justify-content: space-evenly;
    padding: 12px 23px;
    border-radius: 25px;
    overflow: hidden;
}

.first-column a{
    color: var(--BrightOrange);
}

.second-column a{
    color: var(--DarkCyan);
}

.third-column a {
    color: var(--VeryDarkCyan);
}

a:hover {
    cursor: pointer;
    background: none;
    color: var(--TransparentWhite);
    border: 2px solid var(--TransparentWhite);
}

@media(min-width: 768px) {

    .container {
        display: flex;
        flex-direction: row;
        max-height: 400px;
        max-width: 750px;
    }

    .text-padding {
        padding: 20px;
    }
}
