:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
    --FontTitles: 'Big Shoulders Display', cursive;
    --FontParagraphs: 'Lexend Deca', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Box Model Hack **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-color: var(--VeryLightGray);
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--FontParagraphs);
    color: var(--TransparentWhite);
    line-height: 1.5;
}

h2 {
    font-family: var(--FontTitles);
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--VeryLightGray);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem;
}

.card {
    padding: 4.5rem;
}

.text-padding {
    padding: 3rem;
}

.first-column {
    background-color: var(--BrightOrange);
}

.second-column {
    background-color: var(--DarkCyan);
}

.third-column {
    background-color: var(--VeryDarkCyan);
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--FontParagraphs);
    background-color: var(--VeryLightGray);
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    overflow: hidden;
}

.text-padding {
    padding: 0;
}

.first-column a{
    color: var(--BrightOrange);
}

.second-column a{
    color: var(--DarkCyan);
}

.third-column a {
    color: var(--VeryDarkCyan);
}

a:hover {
    cursor: pointer;
    background: none;
    color: var(--TransparentWhite);
    border: .2 solid var(--TransparentWhite);
}

@media(min-width: 768px) {

    main {
        display: flex;
        flex-direction: row;
        width: 90rem;
    }

    .text-padding {
        padding: 3.5rem;
    }
}
